{% extends "registration/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns message">
            <div class="alert-box {% block message-type %}{% endblock %}">
                <p>{% block message %}{% endblock %}</p>
            </div>
        </div>
    </div>
{% endblock %}
