{% extends "www/base.html" %}
{% load i18n %}
{% block title %}{% trans "CSV Import - Choose a category" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="alert-box {% if message_type %}{{message_type}}{% endif %}">
                {{ message }}
            </div>
        </div>
    </div>
{% endblock%}
