{% load leaflet_tags %}


<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dewey maps</title>

        <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
        <link rel="stylesheet" href="/static/lib/foundation/foundation.css">
        <link rel="stylesheet" href="/static/lib/qtip2/jquery.qtip.min.css">
        <link rel="stylesheet" href="/static/lib/leaflet/leaflet.css" />
    </head>
    <body>

    {% block "content" %}
    {% endblock %}

    <script src="/static/lib/foundation/js/vendor/modernizr.js"></script>
    <script src="/static/lib/leaflet/leaflet-src.js"></script>
    <script src="/static/lib/jquery/jquery.js"></script>
    <script src="/static/lib/foundation/foundation.js"></script>

    {% block scripts %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58277820-5', 'auto');
      ga('send', 'pageview');

    </script>
    </body>
</html>
